ATTRS{product}=="USB Roboclaw 2x15A" ,ATTRS{devpath}=="1.2" ,SYMLINK+="actuator2Claw"
ATTRS{product}=="USB Roboclaw 2x15A" ,ATTRS{devpath}=="1.3" ,SYMLINK+="actuator1Claw"

