ATTRS{product}=="USB Roboclaw 2x15A", ATTRS{devpath}=="1", SYMLINK+="actuator1Claw", MODE:="0777"
ATTRS{product}=="USB Roboclaw 2x15A", ATTRS{devpath}=="2", SYMLINK+="actuator2Claw", MODE:="0777"
ATTRS{product}=="USB Roboclaw 2x15A", ATTRS{devpath}=="6", SYMLINK+="motorClaw", MODE:="0777"
