<launch>
	<node pkg="arm_mobility" name="arm_dynserver" type="arm_dynserver.py" required="true" /> 
	<node pkg="arm_mobility" name="arm_driver" type="arm_driver" output="screen" required="true" /> 
	<node pkg="arm_mobility" name="arm_command" type="arm_command.py" output="screen" required="true" /> 
</launch>
